body {
    background-color: #38686A;
    font-family: Georgia, 'Times New Roman', Times, serif
}

header {
    background-color: #101935;
}
#content {
    max-width: 1600px;
    background-color: #A9BCD0;
    margin: 0 auto;
    text-align: center;
}
nav , footer {
    background-color: steelblue;
    padding: 20px;
    color: white;
    text-align: center;
}

nav a {
    text-align: center;
    padding: 15px;
    font-size: 20px;
    text-decoration: none;
    color: white;
    margin: 15px;
}

nav a:hover {
    background-color: lightblue;
    color: steelblue;
}

#background {
    height: 725px;
    background-color: #92374D
}
h1 {
    text-align: center;
}

img {
    width: 500px;
    /* text-align: center; */
    display: block;
    margin: 0 auto;
}

.logo {
    width: 200px;
}

.icon {
    width: 80px;
}
.social img {
    width: 30px;
}
#hero-img {
    width: 100%;
}
.msg {
    text-align: center;
}
p {
    padding: 0 30px;
    line-height: 1.5em;
    width: 800px;
    margin: 0 auto;
}
#main-topic {
    color: steelblue;
}

footer {
    margin-top: 50px;
}
footer p {
    font-size: 1.2em;
}
footer p a:hover {
    text-decoration: underline;
}
footer a {
    color:white;
    text-align: center;
}